{% extends 'Blog/base.html' %}
{% load static %}

{% block hello %}
<h1 class="fw-bolder">Что такое BlogAtlas?</h1>
{% endblock %}

{% block content %}
<p><img class="card-img-top" src="{% static 'Blog/images/blogabout.jpg' %}" alt="..."></p>

<p>BlogAtlas - это блог, который публикует статьи об интересных местах и архитектуре по всему миру. Мы ищем и делимся с
    вами уникальными историями и фактами о самых красивых и загадочных местах нашей планеты, от древних
    достопримечательностей до современных архитектурных шедевров. Если вы любите путешествовать и интересуетесь историей
    и архитектурой, то BlogAtlas - это идеальное место для вас.</p>

<p>BlogAtlas также предлагает фото материалы, чтобы вы могли полностью погрузиться в атмосферу каждого
    места. Наши статьи написаны качественно, проверенными экспертами и путешественниками, чтобы вы могли быть уверены в
    качестве информации. Мы также предлагаем информацию о туристических маршрутах и практическим советам для посещения
    каждого места. Посетите BlogAtlas и откройте для себя новые интересные места, которые ждут вас на каждом углу
    планеты.</p>
{% endblock %}

