{% extends 'Blog/base.html' %}

{% block hello %}
<h1 class="fw-bolder">Наши контактные данные</h1>
{% endblock %}

{% block content %}

<br>Copyright ©2022 BlogAtlas. Все права защищены.<br>

<br>Адрес: 123 Example Street, Suite 456, Anytown USA 12345<br>

<br>Телефон: (123) 456-7890<br>

<br>Email: info@blogatlas.com<br>

<br>Мы всегда рады помочь вам с любыми вопросами или проблемами. <br>Пожалуйста, не стесняйтесь связаться с нами.<br>

<br>Социальные сети:<br>

<br>Facebook: https://www.facebook.com/blogatlas<br>
Twitter: https://twitter.com/blogatlas<br>
Instagram: https://www.instagram.com/blogatlas<br>
<br>Мы также можем быть доступны для контакта через наши профили в социальных сетях<br>

{% endblock %}