{% extends 'Blog/base.html' %}

{% block hello %}
<h1 class="fw-bolder">{{post.title}}</h1>
{% endblock %}

{% block content %}
{% if post.photo %}
<p><img class="card-img-top" src="{{post.photo.url}}" alt="..."></p>
{% endif %}
{% autoescape on %}
{{post.content|linebreaks}}
{% endautoescape %}
{% endblock %}


{% block cats %}
<div class="card mb-4">
    {% if cat_selected == 0 %}
    <div class="card-header">Все категории</div>
    {% else %}
    <div class="card-header"><a href="{% url 'home' %}">Все категориии</a></div>
    {% endif %}
    <div class="card-body">
        <div class="row">
            <ul class="list-unstyled mb-0">
                {% for category in categories %}
                {% if category.slug == cat_selected %}
                <li><a type="button" class="btn btn-primary">{{category.name}}</a></li>
                {% else %}
                <li><a href="{{ category.get_absolute_url }}" type="button" class="btn btn-outline-primary">{{category.name}}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}


